{
    "pretrain_loc": "/gpfs/home/awills/dpyscfl/models/pretrained/scan",
    "type": "MGGA",
    "datapath": "/gpfs/scratch/awills/swxcd/data/test_subset_ps2/12_og",
    "reftraj": "/gpfs/scratch/awills/swxcd/aegis/test_subset_ps2/09/subat_ref.traj",
    "n_hidden": 16,
    "hyb_par": 0.0,
    "E_weight": 0.0,
    "rho_weight": 25,
    "modelpath": "",
    "logpath": ".",
    "testrun": false,
    "lr": 0.0001,
    "l2": 1e-08,
    "hnorm": true,
    "print_stdout": true,
    "print_names": true,
    "nonsc_weight": 0.5,
    "start_converged": false,
    "scf_steps": 25,
    "polynomial": false,
    "free": false,
    "freec": false,
    "meta_x": null,
    "rho_alt": false,
    "radical_factor": 1.0,
    "passthrough": true,
    "targetdir": "/gpfs/scratch/awills/swxcd/eval/test_subset_ps2/18_ogr"
}